@media (max-width: 1550px) {
  .banner_Header .left_slide_content {
    margin-top: 90px;
  }

}

/*================= end  @media (max-width: 1550px) ==================*/

@media (max-width: 1400px) {}

/*================= end  @media (max-width: 1400px) ==================*/

@media (max-width: 1366px) {

  
  .about_right_app {
    margin-right: 0;
  }
  
  /* about page */


/*contact page*/

.banner_Header .left_slide_content .banner_Pra.all_Pra {
  margin-right: 0;
  margin-bottom: 45px;
}

.section_head_title .section_valu_pra .valu_pra {
  margin: 0 auto 40px;
}

}


/*================= end  @media (max-width: 1366px) ==================*/

@media (max-width: 1250px) {
.banner_Header {
  padding: 100px 0px 100px;
}

}

/*================= end  @media (max-width: 1250px) ==================*/

@media(min-width:1024px) {

}

@media (max-width: 1024px) {
  .right_Slider_bar {
    margin-bottom: 0px;
  }
  .banner_Header {
    padding: 100px 0px 80px;
}
  .banner_Header .left_slide_content {
    margin-top: 30px;
}
  .banner_Header .right_Slider_bar {
    position: static;
  }
  .banner_Header .left_slide_content .banner_Pra.all_Pra {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .feature_wrap .featureswrap_Details {
    padding: 30px 20px;
}

/* about page */

.widget_head_title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 25px;
}

.screenshot_slide_wrapper {
  padding: 50px 0 45px;
}
.app_Screenshot_slider .app_single_item {
  text-align: center;
  padding: 0px 10px 40px;
  outline: none;
}
.app_Screenshot_slider .app_single_item.slick-slide.slick-current.slick-active img {
  box-shadow: 0 20px 25px 0px rgba(2, 20, 30, 0.06);
}
.app_Screenshot_slider .app_single_item img {
  box-shadow: 0 10px 15px 0px rgba(2, 7, 40, 0.04);
  display: inline-block;
}

}

/*================= end  @media (max-width: 1024px) ==================*/

@media (min-width: 992px) {
  .Appily_header .header_nav .Appily_header_menu ul li.nav-item li.nav-item {
    padding-bottom: 40px;
    margin-bottom: -40px;
  }
  .Appily_header .header_nav .Appily_header_menu ul li.nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    margin: 57px 0 0;
    opacity: 0;
    left: 0;
    top: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-transform: translate(-20px, 10px);
    -ms-transform: translate(-20px, 10px);
    transform: translate(-20px, 10px);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(18, 1, 64, 0.08);
    box-shadow: 0px 10px 30px 0px rgba(18, 1, 64, 0.08);
  }
  .Appily_header .header_nav .Appily_header_menu ul li.nav-item:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-20px, 0px);
    -ms-transform: translate(-20px, 0px);
    transform: translate(-20px, 0px);
  }

}

/*================= end  @media (min-width: 992) ==================*/

@media (max-width: 991px) {
  .get_btn.Cu_mebtn.primary_Btn.prbtn-ml{
    margin-left: 0px;
  }


  .Appily_header_menu {
    background: #fff;
    padding: 0px 30px 0px 30px;
  }
  .Appily_header .header_nav .Appily_header_menu ul {
    padding: 20px 0 15px;
  }
  .Appily_header .header_nav .Appily_header_menu ul.navbar-nav {
    margin-bottom: 15px;
    display: block;
  }
  .Appily_header .header_nav .Appily_header_menu ul li.nav-item {
    margin-left: 0;
    margin-bottom: 5px;
  }
  .Appily_header .header_nav .Appily_header_menu ul li.nav-item .dropdown-menu {
    padding: 18px 40px 20px 0;
    margin: 0 0 22px;
    border-bottom: 1px solid #e1e5ec;
    border-radius: 0;
    transition: unset;
  }
  .Appily_header .header_nav .Appily_header_menu ul li.nav-item a.nav-link {
    color: #1b212f;
  }
  .Appily_header .header_nav .Appily_header_menu ul li.nav-item .dropdown-menu li a {
    padding-left: 40px;
  }
  .Appily_header .header_nav .Appily_header_menu .GetNbtn {
    margin-left: 0;
  }
  .Appily_header.Appily_header_transparent.fixedMenu .header_nav .GetNbtn {
    margin-left: 0;
  }
  .Appily_header .header_nav .GetNbtn a.primary_Btn:hover {
    color: #6934ff;
    border: 1px solid #6934ff;
}
.Appily_header.home-two-nav .header_nav .GetNbtn a.primary_Btn:hover {
  color: #f0545f;
  border: 1px solid #f0545f;
}
.Appily_header.home-three-nav .header_nav .GetNbtn a.primary_Btn:hover {
  color: #f0545f;
  border: 1px solid #f0545f;
}
.Appily_header.home-three-nav.Appily_header_transparent.fixedMenu .header_nav .GetNbtn {
  margin-left: 0;
}
  .Appily_header.home-two-nav.Appily_header_transparent.fixedMenu .header_nav .GetNbtn {
    margin-left: 0;
  }
  .Appily_header .header_nav .Appily_header_menu .GetNbtn .get_btn {
    position: static;
    display: block;
    margin-bottom: 15px;
  }
  .Appily_header {
    padding: 15px 0;
  }
  .Appily_header.Appily_header_transparent.fixedMenu {
    padding: 10px 0;
  }
  .banner_Header .left_slide_content .banner_head_title {
    font-size: 28px;
    line-height: 30px;
  }
  .right_Slider_bar {
    margin-top: 0;
}
.banner_head_title br {
  word-break: break-all;
  display: none;
}
  /* hero area */
  .banner_Header .left_slide_content {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .primary_Btn.app_btn_primary {
    margin-bottom: 25px;
  }
  .banner_Header .left_slide_content .secondary_Btn.slide_btn {
    margin-left: 0;
  }

  .banner_Header .left_slide_content {
    margin-top: 0;
    margin-bottom: 70px;
}
.feature_wrap {
  padding-top: 70px;
  padding-bottom: 45px;
}
.feature_wrap .featureswrap_heading .feature_Heading_Home {
  font-size: 26px;
  line-height: 36px;
}
.feature_wrap .featureswrap_Details {
  margin-bottom: 30px;
}
.about-wrapper .about_left_image {
  margin-top: 90px;
}
.about_right_app.mt_65 {
  margin-top: 35px;
}
.about_right_app .media.app_left_icon .media-body.media_details {
  margin-left: 20px;
}
.about_right_app .primary_Btn{
box-shadow: none;
}
.about_right_app .about_app_title {
  font-size: 28px;
  line-height: 35px;
}
.how_it_works_screenshot .it_work_app_right .it_work_app_right_img2 {
  top: -45px;
  right: -30px;
}
.how_it_works_screenshot .about_right_app {
  margin-top: 0;
}
.about-wrapper {
  padding: 50px 0 40px;
}
.about_right_app .mb_65{
margin-bottom: 45px;
}
.how_it_works_screenshot .custom_mb_b {
  margin-bottom: 120px;
}
.how_it_works_screenshot {
  padding: 80px 0 70px;
}
.our_client_say_wrapper {
  padding: 70px 0;
}
.our_client_say_wrapper .our_client_say_slider .our_client_say_slider_item .our_client_say_slider_inner {
  margin: 60px auto 30px;
}
.price_plan_wrap {
  padding: 80px 0 50px;
}
.price_plan_wrap .tab-content.price_plan_content_tab .single_price_plan {
  margin-bottom: 30px;
}
a.video_icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.video_logo_carosuel_wrapper .about_right_app.video_right {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.about_app_title.mb_25 {
  margin-bottom: 15px;
}
.get_our_apps {
  padding: 0 0 50px;
}

.video_logo_carosuel_wrapper {
  padding: 50px 0 60px;
}
.video_logo_carosuel_wrapper .custom_mtB .watch_left_slide_video .get_videos_shape_2 {
  left: 0;
  top: 140px;
}
.video_logo_carosuel_wrapper .custom_mtB .watch_left_slide_video .get_videos_shape_4 {
  top: 90px;
  right: 0;
}
.video_logo_carosuel_wrapper .custom_mtB {
  margin-bottom: 60px;
}
.Appily_footer_wrap {
  padding: 80px 0;
}
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_title {
  margin-bottom: 25px;
}
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget a img {
  margin-bottom: 28px;
}
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_menu li {
  margin-bottom: 4px;
}
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .email_box {
display: none;
}
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .footer_para_join {
  margin-bottom: 20px;
}
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_social .social_item li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.Appily_footer_wrap .Appily_footer_top {
  margin-bottom: 50px;
}
.Appily_footer_wrap .Appily_footer_bottom .container.custom_containertwo {
  padding-top: 50px;
}
/* about page */
.feature_wrap.about_page {
  padding: 80px 0 25px;
}
.about_our_apps_wrap.about_page {
  padding: 40px 0 80px;
}
.about_our_apps_wrap.about_page .about_our_apps_right {
  margin-top: 0;
}
.about_our_apps_wrap.about_page .about_our_apps_right .about_our_apps_head {
  font-size: 28px;
  line-height: 25px;
  margin-bottom: 15px;
}
.about_our_apps_wrap .about_our_apps_right .about_our_apps_pra {
margin-bottom: 15px;
}
.primary_Btn {
  padding: 9px 18px;
  min-width: 145px;
}
.banner_Header .left_slide_content .secondary_Btn.slide_btn {
  padding: 9px 30px;
}
.banner_Header.home-two .left_slide_content .secondary_Btn.slide_btn {
  padding: 9px 30px;
}
.get_our_apps.about_page {
  padding: 80px 0;
}
.banner_Header.home-three .business_and_plmsolver_banner .business_banner_btn .primary_Btn {
  padding: 9px 24px;
  margin-right: 10px;
}
.banner_Header.home-three .business_and_plmsolver_banner .business_banner_btn .secondary_Btn {
  padding: 9px 28px;
}

.price_plan_wrap .price_plan_tab_wrap nav ul.price_plan_nav_tab .nav-item .nav-link {
  margin: 0 5px;
  padding: 9px 38px;
}


.Appily_footer_wrap.home_footer_two {
  padding: 80px 0;
}
.Appily_footer_wrap.home_footer_two .Appily_footer_top .Appily_footer_widget .Appily_footer_menu li:last-child {
  margin-bottom: 0;
}
.Appily_footer_wrap.home_footer_two .footer_border {
  margin: 0 auto 50px;
}
.get_our_apps.about_page .get_apps_shape_3 {
  bottom: 125px;
  left: 80px;
}

.get_our_apps.about_page .get_apps_shape_6 {
  bottom: 155px;
  right: -15px;
}
/* 404 page */
.Appily_Error_wrap {
  padding: 80px 0;
}
.Appily_Error_wrap .error_content .error_heading {
  font-size: 35px;
  margin-bottom: 10px;
}
/* comming soon */

.Appily_Error_wrap.comming_soon .error_content .error_heading {
  font-size: 35px;
  margin-bottom: 0;
}
.Appily_Error_wrap.comming_soon .error_content .error_headtwo {
  font-size: 35px;
}
/* blog single */
.blog_wrap {
  padding: 80px 0;
}
.leave_comment .comment_wrap {
  margin-bottom: 30px;
}
/* blog details */

}

/*================= end  @media (max-width: 991px) ==================*/

@media (max-width: 768px) {
  

}
/*================= end  @media (max-width: 768px) ==================*/


@media (max-width: 767px) {
  .banner_Header .left_slide_content .secondary_Btn.slide_btn {
    margin-left: 10px;
}
.banner_Header .left_slide_content {
  margin-top: 0;
  margin-bottom: 0px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_title {
  margin-bottom: 10px;
}
.Appily_footer_widget {
  margin-bottom: 30px;
}
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .email_box {
  display: block;
}

.col_reverse {
  display: flex;
  flex-direction: column-reverse;
}
.Appily_footer_wrap .Appily_footer_top {
  margin-bottom: 30px;
}
.Appily_footer_wrap.home_footer_two .Appily_footer_top .Appily_footer_widget .footer_para {
  max-width: 100%;
  width: 100%;
}
/* contact page */
.contact_messae_wrap .google_map_show .google_map iframe {
  position: static;
  left: 120px;
  top: 0;
  width: 100%;
  height: 300px;
  left: 0;
}
.contact_messae_wrap {
  padding: 100px 0 100px;
}
.contact_messae_wrap {
  padding: 80px 0 80px;
}
.app_screenshot_heading .section_head {
  margin-bottom: 12px;
  font-size: 25px;
}


}



/*================= end  @media (max-width: 767px) ==================*/

@media (max-width: 680px) {
 
.app_Screenshot_slider .app_single_item {
  padding: 0px 10px 35px;
}

.Appily_footer_wrap {
  padding: 60px 0;
}
.Appily_footer_wrap .Appily_footer_bottom .container.custom_containertwo {
  padding-top: 35px;
}
.Appily_footer_wrap .Appily_footer_top {
  margin-bottom: 0;
}

}
/*================= end  @media (max-width: 680px) ==================*/

@media (max-width: 576px) {

.section_head_title .head_title_mini {
  margin-bottom: 0;
  font-size: 22px;
}

}

/*================= end  @media (max-width: 576px) ==================*/

@media (max-width: 480px) {
  .Appily_copyright {
    text-align: center;
    margin-bottom: 15px;
}

.widget_head_title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.contact_list .single_contact_item .phone_itemone {
  display: block;
}
.banner_Header.home-three .business_and_plmsolver_banner .banner_head_title {
  font-size: 25px;
  line-height: 30px;
}
.banner_Header .left_slide_content .banner_head_title {
  font-size: 25px;
  line-height: 30px;
}


}

/*================= end  @media (max-width: 480px) ==================*/

@media (max-width: 420px) {
  .Appily_header_menu {
    overflow-y: scroll;
    max-height: 400px;
  }
  
.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget a img {
  margin-bottom: 20px;
}

.Appily_Error_wrap .error_content .email_box .subscribe_fields .single_fields button.primary_Btn {
  padding: 8px 28px;
}
.Appily_Error_wrap .error_content .email_box .subscribe_fields .single_fields input {
  padding: 6px 15px;
}
.Appily_Error_wrap .error_content .email_box .subscribe_fields .single_fields:nth-child(2) {
  margin-left: 15px;
}

}
/*================= end  @media (max-width: 420px) ==================*/


@media (max-width: 380px) {


}
/* ================= end  @media (max-width: 380px) ================== */

@media (max-width: 375px) {

}
/* ================= end  @media (max-width: 375px) ================== */

  @media (max-width: 360px) {

} 
/* ================= end  @media (max-width: 360px) ================== */