/*Base font*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap");
/*================================== all pages variable  ================================*/

/*==================================  global  ================================*/

body {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 25px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.primary_Btn {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: #6934ff;
  border: 1px solid #6934ff;
  -webkit-box-shadow: 0px 25px 88.35px 6.65px rgba(27, 33, 47, 0.15);
  box-shadow: 0px 25px 88.35px 6.65px rgba(27, 33, 47, 0.15);
  border-radius: 25px;
  line-height: 22px;
  text-transform: capitalize;
  padding: 8px 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  text-align: center;
}

.primary_Btn:hover {
  text-decoration: none;
  color: #6934ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.secondary_Btn {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 25px;
  line-height: 22px;
  text-transform: capitalize;
  padding: 8px 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}

.secondary_Btn:hover {
  text-decoration: none;
  color: #fff;
}

/*================================== preloader css  ================================*/

.Appily-preloader {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
  background: #fff;
}

.Appily-preloader .anim-preloader {
  position: absolute;
  z-index: 100;
}

/* Spinner */

.Appily-preloader .anim-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid #f0545f;
  border-top-color: #6934ff;
  height: 100px;
  margin: 0 auto 45px auto;
  width: 100px;
}

/* Text */

.Appily-preloader .anim-preloader .txt-loading {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite;
  color: #6934ff;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  top: 0;
  line-height: 70px;
  position: absolute;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 15px;
  display: inline-block;
  color: #1b212f;
  position: relative;
  font-size: 70px;
  line-height: 70px;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.Appily-preloader .anim-preloader .txt-loading .letters-loading:nth-child(9):before {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.Appily-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.loaded .anim-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

/*================================== preloader keyframes  ================================*/

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .Appily-preloader .anim-preloader .spinner {
    height: 7em;
    width: 7em;
  }
}

@media screen and (max-width: 500px) {
  .Appily-preloader .anim-preloader .spinner {
    height: 5em;
    width: 5em;
  }
  .Appily-preloader .anim-preloader .txt-loading .letters-loading {
    font-size: 40px;
    letter-spacing: 10px;
  }
}

/*================================== custom container and box shadow  ================================*/

.pos_absolute {
  position: absolute;
}

.primary_Btn.box-snone {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*==================================  typographic  ================================*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  outline: none;
  border: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_25 {
  margin-bottom: 25px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_35 {
  margin-bottom: 35px;
}

.mb_55 {
  margin-bottom: 55px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mb_65 {
  margin-bottom: 65px;
}

.mt_65 {
  margin-top: 60px;
}

/*========================================        Appily-header               =========================================*/

.Appily_header {
  padding: 30px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_header .header_nav {
  padding: 0;
  outline: none;
}

.Appily_header .header_nav .logo img {
  max-width: 80px;
  width: 100%;
}

.Appily_header .header_nav .logo img+img {
  display: none;
}

.Appily_header .header_nav .hamburger_Btn {
  padding: 0;
  outline: none;
}

.Appily_header .header_nav .hamburger_Btn .bar_icon {
  width: 30px;
  height: 16px;
  position: relative;
  display: inline-block;
}

.Appily_header .header_nav .hamburger_Btn .bar_icon .bar {
  position: absolute;
  width: 100%;
  background: #1b00ff;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_header .header_nav .hamburger_Btn .bar_icon .bar.bar_1 {
  top: 0;
}

.Appily_header .header_nav .hamburger_Btn .bar_icon .bar.bar_2 {
  top: 50%;
}

.Appily_header .header_nav .hamburger_Btn .bar_icon .bar.bar_3 {
  top: 100%;
}

.Appily_header .header_nav .hamburger_Btn[aria-expanded="true"] .bar.bar_1 {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Appily_header .header_nav .hamburger_Btn[aria-expanded="true"] .bar.bar_2 {
  opacity: 0;
}

.Appily_header .header_nav .hamburger_Btn[aria-expanded="true"] .bar.bar_3 {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.Appily_header .header_nav .Appily_header_menu ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item {
  margin-left: 40px;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item a.nav-link {
  padding: 0;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 30px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item a.nav-link::before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 1px;
  right: 0;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item a.nav-link:hover::before {
  width: 100%;
  opacity: 1;
  left: 0;
  right: auto;
}

/* .Appily_header .header_nav .Appily_header_menu ul li.nav-item a.nav-link.dropdown-toggle::after {
  position: absolute;
  content: "\33";
  right: -17px;
  top: 0;
  font-family: "eleganticons";
  border: none;
  padding: 0;
} */

.Appily_header .header_nav .Appily_header_menu ul li.nav-item:first-child {
  margin-left: 0;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item.active a.nav-link::before {
  width: 100%;
  opacity: 1;
  left: 0;
  right: auto;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item .dropdown-menu {
  padding: 20px 30px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white;
  border: none;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item .dropdown-menu li {
  display: block;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item .dropdown-menu li a {
  color: #74748c;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  background: transparent;
}

.Appily_header .header_nav .Appily_header_menu ul li.nav-item .dropdown-menu li a:hover {
  color: #6934ff;
  background: transparent;
  text-decoration: none;
}

.Appily_header .header_nav .GetNbtn {
  margin-left: 40px;
}

.Appily_header .header_nav .GetNbtn a.primary_Btn:hover {
  color: #fff;
  border: 1px solid #fff;
}

.Appily_header.Appily_header_transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.Appily_header.Appily_header_transparent.fixedMenu {
  padding: 25px 0;
  background: #fff;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_header.Appily_header_transparent.fixedMenu .header_nav .logo img {
  display: none;
}

.Appily_header.Appily_header_transparent.fixedMenu .header_nav .logo img+img {
  display: block;
}

.Appily_header.Appily_header_transparent.fixedMenu .header_nav .Appily_header_menu ul li.nav-item a.nav-link {
  color: #000;
}

.Appily_header.Appily_header_transparent.fixedMenu .header_nav .Appily_header_menu ul li.nav-item a.nav-link:hover {
  color: #6934ff;
}

.Appily_header.Appily_header_transparent.fixedMenu .header_nav .GetNbtn {
  margin-left: 40px;
}

.Appily_header.Appily_header_transparent.fixedMenu .header_nav .GetNbtn a.primary_Btn:hover {
  color: #494d59;
  border: 1px solid #6934ff;
}

.get_btn.Cu_mebtn.primary_Btn.prbtn-ml {
  margin-left: 10px;
}

.banner_head_title {
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 15px;
}

.banner_Header .primary_Btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.banner_Header .secondary_Btn:hover {
  background: #6934ff;
  border-color: #6934ff;
}

.app_Screenshot_slider .left_slide_content {
  outline: none;
}

/* login page */

.contact_messae_wrap .comment_response {
  margin-top: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 390px;
  width: 100%;
  background-image: linear-gradient(227deg,#ff8a00,#e52e71);
  padding: 50px 35px;
  border-radius: 6px;
}
.comment_response h3 {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.comment_response input.primary_Btn {
  width: 100%;
  }
.comment_response input.primary_Btn {
width: 100%;
}
.comment_response input[type="number"] {
  margin-bottom: 30px !important;
}
.comment_response input.form-control.inputpass {
margin-bottom: 80px;
}
.contact_messae_wrap .comment_response .contact_form .form-control {
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 0;
  height: 45px;
  padding: 12px 0;
  border-bottom: 1px solid #d1d3d5;
  background: transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.contact_messae_wrap .comment_response .contact_form .form-control::-webkit-input-placeholder {
  color: #000000;
}

.contact_messae_wrap .comment_response .contact_form .form-control:-ms-input-placeholder {
  color: #000000;
}

.contact_messae_wrap .comment_response .contact_form .form-control::-ms-input-placeholder {
  color: #000000;
}

.contact_messae_wrap .comment_response .contact_form .form-control::placeholder {
  color: #000000;
}

.contact_messae_wrap .comment_response .contact_form .form-control:focus {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(8, 22, 113, 0.03);
  box-shadow: 0px 20px 40px 0px rgba(8, 22, 113, 0.03);
}

.contact_messae_wrap .comment_response .contact_form textarea.form-control {
  min-height: 120px;
  margin-bottom: 60px;
}

/*================================== custom container  ================================*/

.container.custom_container {
  max-width: 1580px;
  width: 100%;
}

.banner_Header {
  position: relative;
  overflow: hidden;
  padding: 120px 0px 120px;
  background: url(../image/banner/home-bg.png) center 0px / cover no-repeat scroll rgb(105, 52, 255);
}

/*================================== section header all  ================================*/

.app_screenshot_heading .section_head {
  font-size: 30px;
  font-weight: 700;
  color: #1b212f;
  line-height: 25px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.app_screenshot_heading .app_screenshot_pra {
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #494d59;
  margin-bottom: 60px;
}

/*================================== header area slider ================================*/

.right_Slider_bar {
  margin-top: 90px;
}

/*================================== app screenshot slider ================================*/

.app_Screenshot_slider .app_single_item {
  text-align: center;
  padding: 0px 10px 60px;
  outline: none;
}

.app_Screenshot_slider .app_single_item img {
  -webkit-box-shadow: 0 10px 15px 0px rgba(2, 7, 40, 0.06);
  box-shadow: 0 10px 15px 0px rgba(2, 7, 40, 0.06);
  display: inline-block;
}

.app_Screenshot_slider .app_single_item.slick-slide.slick-current.slick-active img {
  -webkit-box-shadow: 0 30px 25px 0px rgba(2, 20, 40, 0.09);
  box-shadow: 0 30px 25px 0px rgba(2, 20, 40, 0.09);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.app_Screenshot_slider .slick-dots li {
  background: #d1cfce;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.app_Screenshot_slider .slick-dots li button {
  display: none;
}

.app_Screenshot_slider .slick-dots li.slick-active {
  border: 4px solid #6934ff;
  background: transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

/*================================== home footer page 1  ================================*/

.Appily_footer_wrap {
  background: #1b212f url(../image/footer/footer.png) no-repeat center/cover;
  padding: 100px 0;
}

.Appily_footer_wrap .Appily_footer_top {
  margin-bottom: 60px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget a img {
  margin-bottom: 42px;
  max-width: 100px;
  width: 100%;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .footer_para {
  color: #fff;
  font-size: 16px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_button {
  font-size: 16px;
  text-decoration: underline;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_button:hover {
  color: #f0545f;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_title {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 38px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_menu li {
  display: block;
  margin-bottom: 12px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_menu li a {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 25px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_menu li a::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background: #f0545f;
  width: 0%;
  height: 1px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_menu li a:hover {
  color: #f0545f;
  text-decoration: none;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_menu li a:hover::before {
  right: auto;
  left: 0;
  width: 100%;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .email_box {
  display: inline-block;
  width: 100%;
  max-width: 470px;
  position: relative;
  margin-bottom: 20px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes {
  position: relative;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes input {
  border-radius: 45px;
  z-index: 0;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(9, 78, 130, 0.2);
  box-shadow: 0px 8px 20px 0px rgba(9, 78, 130, 0.2);
  background: #fff;
  color: #1b212f;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 30px;
  border-radius: 28px !important;
  border: 1px solid #fff;
  height: 52px;
  padding: 0px 0px 0px 22px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes input::-webkit-input-placeholder {
  color: #d1cfce;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes input:-ms-input-placeholder {
  color: #d1cfce;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes input::-ms-input-placeholder {
  color: #d1cfce;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes input::placeholder {
  color: #d1cfce;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes .Appily_btn {
  position: absolute;
  right: 6px;
  top: 50%;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
  background: #6934ff;
  width: 120px;
  height: 44px;
  border-radius: 23px;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes .Appily_btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .subcribes .Appily_btn:hover {
  opacity: 0.9;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .footer_para_join {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 40px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_social .social_item li {
  display: inline-block;
  margin-right: 10px;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_social .social_item li a {
  display: block;
  width: 36px;
  height: 36px;
  color: #1b212f;
  background: #fff;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_social .social_item li a:hover {
  background: #6934ff;
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(255, 255, 255, 0.15);
  box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(255, 255, 255, 0.15);
}

.Appily_footer_wrap .Appily_footer_top .Appily_footer_widget .Appily_footer_social .social_item li:last-child {
  margin-right: 0;
}

.Appily_footer_wrap .Appily_footer_bottom .container.custom_containertwo {
  max-width: 1540px;
  width: 100%;
  border-top: 2px solid #2f3542;
  padding-top: 60px;
}

.Appily_footer_wrap .Appily_footer_bottom .container.custom_containertwo .Appily_footer_bottom_inner .Appily_copyright .copy_right_text {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
}

.Appily_footer_wrap .Appily_footer_bottom .container.custom_containertwo .Appily_footer_bottom_inner .Appily_copyright a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Appily_footer_wrap .Appily_footer_bottom .container.custom_containertwo .Appily_footer_bottom_inner .Appily_copyright a:hover {
  color: #f0545f;
}